{% extends 'user_auth/base.html' %} 
{% load crispy_forms_tags %} 
{% block main %}
<div class="container">
  <div class="row align-items-center">
    <div class="d-flex justify-content-center ">
        <div class="col">
            <div class="row align-items-center p-2 mt-2">
                <h3 style="text-align:center">You have been logout </h2>
            </div>
            <div class="row align-items-center p-2 mt-2">
                <h4 style="text-align:center">want to <i><a href="{% url 'login' %}">log in</a> again ?</i></h2>
            </div>
        </div>
        
    </div>
  </div>
</div>
{% endblock main %}
