*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(252, 254, 255);
    font-family: "Audiowide", sans-serif;
    left: 0;
    top: 0;
}

#upper-part{
    background-color: rgb(179, 214, 228);
    height: 15vh;
}
#title{
    font-size: 50px;
}

#profile-div{
    display: flex;
    justify-content: center;
    margin-right: 20px;
}

#profile-name{
    background-color: rgba(26, 140, 240,0.4);

    border-radius: 50%;
    padding: 15px;
}







/* Forms styling */


