*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(252, 254, 255);
    left: 0;
    top: 0;
}

#upper-part{
    background-color: rgb(179, 214, 228);
    height: 15vh;
}
#title{
    font-size: 50px;
}








/* Forms styling */


